.gameTable { 
    border: 8px solid black;
    padding: 0px;
    border-spacing: 1;
    border-collapse: separate;
}
.gameTable td { 
    width: 40px; 
    height: 40px; 
    background-color: #ddd;
    margin: 0px;
    padding: 0px;
    border-bottom: #aaa solid 4px;
    border-top: #eee solid 4px; 
    border-left: #aaa solid 4px;
    border-right: #eee solid 4px;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.gameTable td:hover {
    background-color: #999;
    cursor: pointer;
}

.gameTable td.visited {
    background-color: #eee;
    border: 4px solid #eee;
}

.gameTable td.visited:hover {
    background-color: #eee;
    cursor: default;
}

.gameTable td.mine {
    background-color: #f55;
    border: 4px solid #855;
    cursor: default;
}

.gameTable div.cellNum {
    text-align: center;
    font-family: arial, verdana;
    font-size: 18px;
    font-weight: bold;
}

div.gameover {
    border: 2px solid black;
    background-color: red;
    color: white;
    width: 200px;
    padding: 4px;
    font-family: verdana, arial;
    font-size: 12px;
    margin: 4px;
    cursor: pointer;
}

div.won {
    border: 2px solid black;
    background-color: green;
    color: white;
    width: 200px;
    padding: 4px;
    font-family: verdana, arial;
    font-size: 12px;
    margin: 4px;
    cursor: pointer;
}
